.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector


html,body{
  width: 100%;
  height: 100%;
}
body{
  background-image: url('../assets/images/bg.jpg');
  background-size: 100% 100%;
  font-family: "Microsoft Yahei",serif;
}

.music-list{
  margin-top: 100px;
}

.list-group-item{
  //background-color: transparent;
}

/* 音乐播放条 */
.player-bar{
  height: 49px;
  color: #999;
  background: url("../assets/images/playbar.png") repeat-x 0 0;
  box-sizing: border-box;

  .container{
    position: relative;
    height: 52px;
    //overflow: hidden;
  }
  a{
    color: #999;
    &.glyphicon{
      display: block;
      float: left;
      padding: 0 10px;
      font-size: 18px;
    }
    &.glyphicon-play,.glyphicon-pause{
      font-size: 22px;
    }
    &:hover{
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

/*播放进度条*/
.progress-box{
  float: left;
  margin-left:15px;
  width: 455px;
  padding-top: 5px;
  @media (max-width: 480px) {
    width: 60px;
    height: 24px;
    overflow: hidden;
    padding-top: 0;
  }

  .song-name{
    font-size: 14px;
    font-weight: bold;
  }
  .singer-name{
    font-size: 12px;
  }
  @at-root {
    #player-range{
      -webkit-appearance: none;
      overflow:hidden;     /* 限定范围 */
      height:20px;
      outline : none;      /* 避免点选会有蓝线或虚线 */
      background:none;
      cursor: pointer;
      &::-webkit-slider-thumb{
        -webkit-appearance: none;
        position: relative;    /* 设为相对位置，为了前后区块的绝对位置而设定 */
        width:10px;
        height:10px;
        background:#f22;
        border-radius:50%;
        transition:.2s;        /* 点选放大时候的渐变时间 */
      }
      &::-webkit-slider-thumb:before,
      &::-webkit-slider-thumb:after
      {
        position: absolute;
        top: 3px;
        width: 2000px;          /* 长度很长没关系，因为刚刚有用 overflow:hidden 了 */
        height: 4px;
        content:"";
        pointer-events: none;   /* 让滑鼠可以点击穿透伪元素，不然会点不到下面 */
        transition:.2s;
      }
      &::-webkit-slider-thumb:before{
        /*经过的颜色*/
        left: -1997px;
        background: #f22;
      }
      &::-webkit-slider-thumb:after {
        left: 10px;
        /*未经过的颜色*/
        background: #edc;
      }

      &:active::-webkit-slider-thumb:before,
      &:active::-webkit-slider-thumb:after
      {
        top: 6px;
      }

      &:active::-webkit-slider-thumb{
        width:16px;
        height:16px;
      }

      &:active::-webkit-slider-thumb:after {
        left: 16px;
      }
    }
  }

}


/*音量控制和播放列表*/
.player-list{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  /*音量控制条*/
  input[id='volume-range']{
    @extend #player-range;
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 100px;
    transform: rotate(-90deg);
    transform-origin: 0;
  }
}

/*音乐列表*/
.music-list{
  .list-group-item{
    cursor: pointer;
  }
  /*播放按钮*/
  .player-status{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    float: left;
    width: 40px;
    font-size: 20px;

    cursor: pointer;
  }
  .singer-name{
    margin-left: 40px;
  }
  .song-name{
    @extend .singer-name;
    font-size: 16px;
  }
  /*收藏按钮*/
  .favorite{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 20px;
    &.glyphicon-heart-empty{
      color: #999;
    }
  }
}


/*歌词*/

.Lrc{
  background-color: rgba(0,0,0,0.5);
  color: #444;
  padding: 20px;

  &>ul{

    &>li{
      list-style: none;
      &.active{
        color: #fff;
      }
    }
  }
}
